/* styles.css */
.banner {
    display: flex;
    overflow: hidden; /* Ensure overflow is hidden */
  }
  
  .repeated-text {
    display: flex; /* Use flexbox */
    animation: moveBanner 50s linear infinite; /* Adjust duration as needed */
  }
  
  @keyframes moveBanner {
    0% {
      transform: translateX(100%); /* Start off-screen right */
    }
    100% {
      transform: translateX(-100%); /* Move off-screen left */
    }
  }
  